In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
# Create series from list, array, dictionary

In [4]:
label=['BP','Tax','SC','Profit']

In [5]:
price=[100,20,50,70]

In [6]:
items=['Camera','Pears','Mango','Banana']

# Add list into series

In [7]:
arrPrice=np.array(price)

In [8]:
pd.Series(data=price)

0    100
1     20
2     50
3     70
dtype: int64

# Add array into series

In [9]:
arrItems=np.array(items)

In [10]:
pd.Series(data=items)

0    Camera
1     Pears
2     Mango
3    Banana
dtype: object

# Add dictionary into Series

In [11]:
dict={'Camera':10,'Cup':20,'Bag':60,'Shoe':80}

In [12]:
ser1=pd.Series(data=dict)

# Add data and index using independent lists

In [ ]:
# If items exist in both of the series they get add up, rest all will have NAN

In [13]:
ser2=pd.Series(data=price,index=items)

In [16]:
ser3=ser1+ser2

In [17]:
ser3

Bag         NaN
Banana      NaN
Camera    110.0
Cup         NaN
Mango       NaN
Pears       NaN
Shoe        NaN
dtype: float64

In [ ]:
ser1['Camera']

In [ ]:
ser2

In [ ]:
s1=pd.Series([])